@{
    ViewData["Title"] = "Home Page";
}
<h2>@Html.ActionLink("Przejdz do linków", "InterstingLinks", "Home")</h2>

<!--Strona główna-->
<h3>@Html.ActionLink("Pokaż samochody", "GetAllCars", "Home")</h3><!--napis, akcja, gdzie ma szukać-->
<h3>@Html.ActionLink("Pokaż liste modeli", "GetListOfModels", "Home")</h3>
<h3>@Html.ActionLink("Forma kontaktowa", "ContactForm", "Home")</h3>